body{

background:#111;
font-family:
Arial,
"Microsoft YaHei",
sans-serif;

color:white;
text-align:center;

}


.container{

max-width:600px;
margin:40px auto;

}


input,select,button{

width:80%;
padding:12px;
margin:10px;

border-radius:10px;
border:none;

}


button{

background:#00a8ff;
color:white;

font-size:18px;

cursor:pointer;

}


#poster{

height:500px;

margin-top:30px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;


background:
linear-gradient(
135deg,
#6ec6ff,
#003366
);


border-radius:20px;


}


#posterTitle{

font-size:50px;

}


#posterSubtitle{

font-size:22px;

opacity:.8;

}



.dark{

background:
linear-gradient(
135deg,
#000,
#b8860b
)!important;

}



.future{

background:
linear-gradient(
135deg,
#00ffff,
#5500ff
)!important;

}